.anp-colorful-frame.anuppuccin-accent-toggle:not(.anp-card-layout) .mod-top .workspace-tab-header-container,
.anp-colorful-frame.anuppuccin-accent-toggle:not(.anp-card-layout) .workspace-ribbon.mod-left:before {
  --tab-container-background: rgba(var(--ctp-accent), 0.9);
  --titlebar-background: rgba(var(--ctp-accent), 0.9);
}
.anp-colorful-frame:not(.anp-card-layout) .mod-top .workspace-tab-header-container,
.anp-colorful-frame:not(.anp-card-layout) .workspace-ribbon.mod-left:before {
  --tab-container-background: hsla(var(--color-accent-hsl), 0.9);
  --titlebar-background: hsla(var(--color-accent-hsl), 0.9);
}
.anp-colorful-frame:not(.anp-card-layout) .mod-top:not(.mod-stacked) .workspace-tab-header,
.anp-colorful-frame:not(.anp-card-layout) .mod-top:not(.mod-stacked) .workspace-tab-header.is-active,
.anp-colorful-frame:not(.anp-card-layout) .mod-top:not(.mod-stacked) .is-focused.workspace-tab-header,
.anp-colorful-frame:not(.anp-card-layout) .mod-top:not(.mod-stacked) .workspace-tab-header-container,
.anp-colorful-frame:not(.anp-card-layout).is-focused .mod-top:not(.mod-stacked) .workspace-tab-header.is-active {
  --tab-text-color: var(--background-secondary-alt);
  --icon-color: var(--background-secondary-alt);
  --icon-color-hover: var(--background-secondary);
}
.anp-colorful-frame:not(.anp-card-layout) .mod-top.mod-stacked .workspace-tab-header-new-tab .clickable-icon {
  --icon-color: var(--background-secondary-alt);
  --icon-color-hover: var(--background-secondary);
}
.anp-colorful-frame:not(.anp-card-layout) .mod-top .workspace-tab-header-tab-list .clickable-icon,
.anp-colorful-frame:not(.anp-card-layout) .mod-top .workspace-tab-header-new-tab .clickable-icon
.anp-colorful-frame:not(.anp-card-layout) .mod-top .workspace-tab-header-tab-list .clickable-icon,
.anp-colorful-frame:not(.anp-card-layout) .mod-top .workspace-tab-header-new-tab .clickable-icon:hover {
  color: var(--background-secondary-alt);
}
.anp-colorful-frame:not(.anp-card-layout).anp-mini-tab-toggle .mod-top .workspace-tab-header,
.anp-colorful-frame:not(.anp-card-layout).is-focused.anp-mini-tab-toggle .mod-top .workspace-tab-header.is-active {
  --tab-text-color-focused-active: var(--background-secondary-alt);
  --tab-text-color-active: var(--background-secondary-alt);
  --tab-text-color-focused: var(--background-secondary-alt);
}
.anp-colorful-frame:not(.anp-card-layout) .mod-right-split .mod-top .workspace-tab-header.is-active .workspace-tab-header-inner-icon,
.anp-colorful-frame:not(.anp-card-layout) .mod-left-split .mod-top .workspace-tab-header.is-active .workspace-tab-header-inner-icon,
.anp-colorful-frame:not(.anp-card-layout) .mod-top .clickable-icon.has-active-menu,
.anp-colorful-frame:not(.anp-card-layout) .mod-top .clickable-icon:active {
  --icon-color-focused: var(--background-secondary-alt);
}
.anp-colorful-frame:not(.anp-card-layout) .mod-left-split .mod-top .workspace-tab-header.is-active,
.anp-colorful-frame:not(.anp-card-layout) .mod-right-split .mod-top .workspace-tab-header.is-active {
  background-color: rgba(var(--ctp-crust), 0.3)
}
.anp-colorful-frame:not(.anp-card-layout).is-focused.anp-mini-tab-toggle .mod-active .workspace-tab-header.is-active .workspace-tab-header-inner-icon,
.anp-colorful-frame:not(.anp-card-layout).is-focused.anp-mini-tab-toggle .mod-active .workspace-tab-header.is-active .workspace-tab-header-inner-title,
.anp-colorful-frame:not(.anp-card-layout).is-focused .mod-active:not(.mod-stacked) .workspace-tab-header.is-active .workspace-tab-header-inner-icon,
.anp-colorful-frame:not(.anp-card-layout).is-focused.anp-mini-tab-toggle .mod-active .workspace-tab-header.is-active .workspace-tab-header-inner-title,
.anp-colorful-frame:not(.anp-card-layout) .mod-left-split .workspace-tab-header:active .workspace-tab-header-inner-icon,
.anp-colorful-frame:not(.anp-card-layout) .mod-right-split .workspace-tab-header:active .workspace-tab-header-inner-icon {
    color: var(--background-secondary-alt);
}
.anp-colorful-frame:not(.anp-card-layout).is-focused .mod-top:not(.mod-stacked) .workspace-tab-header:not(.is-active),
.anp-colorful-frame:not(.anp-card-layout) .mod-top:not(.mod-stacked) .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner-close-button {
    color: var(--background-secondary-alt);
    --tab-text-color-focused-active-current: var(--background-secondary-alt);
}
.anp-colorful-frame:not(.anp-card-layout) .workspace-split.mod-vertical > * > .workspace-leaf-resize-handle, .workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.anp-colorful-frame:not(.anp-card-layout) .workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  height: calc(100% - var(--header-height));
}
.anp-colorful-frame:not(.anp-card-layout) .sidebar-toggle-button {
  padding: var(--size-4-1) !important;
  background-color: var(--background-primary);
  --tab-container-background: var(--background-primary) !important;
  height: calc(var(--header-height) - 5px);
  margin-right: var(--size-4-1);
  border-radius: 0 0 var(--radius-s) var(--radius-s);
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--tab-outline-color);
}
.anp-colorful-frame:not(.anp-card-layout) .sidebar-toggle-button.mod-left .clickable-icon,
.anp-colorful-frame:not(.anp-card-layout) .sidebar-toggle-button.mod-right .clickable-icon {
  --icon-color: var(--text-normal);
  --icon-color-hover: var(--text-normal);
  --icon-color-active: var(--text-normal);
}
.anp-colorful-frame:not(.anp-card-layout).anp-mini-tab-toggle.is-focused .mod-active.mod-top .workspace-tab-header.is-active .workspace-tab-header-inner-icon,
.anp-colorful-frame:not(.anp-card-layout).anp-mini-tab-toggle.is-focused .mod-active.mod-top .workspace-tab-header.is-active .workspace-tab-header-inner-title {
    color: var(--background-primary);
}
