/*-Recolor table borders-*/
.anp-table-toggle .markdown-rendered {
  table {
    background-color: rgba(var(--ctp-mantle), 0.5);
  }
  table, td, th , thead tr > th:first-child, thead tr > th, thead tr > th:last-child {
    text-align: center;
    border: 2px solid var(--table-border-color);
  }
}
.anp-table-auto.markdown-rendered table {
  margin: 0 auto;
}
.anp-table-width.markdown-rendered table {
    width: var(--anp-table-width-pct);
}
.anp-table-auto .markdown-rendered table {
  margin: 0 auto;
}
.anp-table-width .markdown-rendered table {
    width: var(--anp-table-width-pct);
}
