.anp-alternate-tab-toggle, .anp-default-tab {
  --header-height: var(--anp-alt-tab-custom-height, 40px);
  --tab-stacked-header-width: var(--anp-stacked-header-width, 40px);
}
.anp-alternate-tab-toggle .workspace-tabs:not(.mod-stacked) {
  --tab-background: var(--background-secondary);
  --tab-background-active: var(--background-primary);
  --tab-font-size: 12px;
  --tab-height: calc(var(--header-height)*0.7);
  --tab-max-width: 200px;
  --tab-max-width-active: 300px
}
.anp-alternate-tab-toggle .workspace-ribbon.mod-left {
  margin-top: var(--header-height);
}
.anp-alternate-tab-toggle .workspace-ribbon.mod-left:before {
  padding-bottom: 0px;
}

.anp-alternate-tab-toggle .workspace-tabs:not(.mod-stacked) .workspace-tab-header::before,
.anp-alternate-tab-toggle .workspace-tabs:not(.mod-stacked) .workspace-tab-header::after,
.anp-alternate-tab-toggle .workspace .mod-root  .workspace-tabs:not(.mod-stacked) .workspace-tab-header-inner::after {
  display: none;
}
.anp-alternate-tab-toggle .mod-vertical:not(.mod-left-split):not(.mod-right-split) .workspace-tabs:not(.mod-stacked) .workspace-tab-header-container-inner,
.anp-alternate-tab-toggle .mod-horizontal:not(.mod-left-split):not(.mod-right-split) .workspace-tabs:not(.mod-stacked) .workspace-tab-header-container-inner {
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
}
.anp-alternate-tab-toggle .mod-vertical:not(.mod-left-split):not(.mod-right-split) .workspace-tabs:not(.mod-stacked) .workspace-tab-header,
.anp-alternate-tab-toggle .mod-horizontal:not(.mod-left-split):not(.mod-right-split) .workspace-tabs:not(.mod-stacked) .workspace-tab-header {
  background: var(--tab-background);
  border-radius: 6px;
  box-shadow: none !important;
  height: var(--tab-height);
  margin-left: 12px;
  padding: 0 !important;
  transition: 400ms, background-color 150ms ease-in-out;
}
.anp-alternate-tab-toggle .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header {
  max-width: var(--tab-max-width) !important;
}
.anp-alternate-tab-toggle.anp-alt-tab-anim-toggle .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header {
  transition: 400ms;
}
.anp-alternate-tab-toggle .workspace-tabs:not(.mod-stacked) .workspace-tab-header:first-child {
  margin-left: 0;
}
.anp-alternate-tab-toggle .mod-root:not(.mod-left-split):not(.mod-right-split) .workspace-tabs:not(.mod-stacked) .workspace-tab-header-inner {
  padding: 7px 8px;
}
.anp-alternate-tab-toggle .mod-root:not(.mod-left-split):not(.mod-right-split) .workspace-tabs:not(.mod-stacked) .workspace-tab-header-inner {
  padding: 0 4px 0 8px;
  color: var(--text-muted);
  transition: 400ms;
}
.anp-alternate-tab-toggle .workspace .mod-root .workspace-tab-header-inner::after {
  display: none;
}
.anp-alternate-tab-toggle .mod-root:not(.mod-left-split):not(.mod-right-split) .workspace-tabs:not(.mod-stacked) .workspace-tab-header.is-active {
  flex-grow: 1.67 !important;
  max-width: var(--tab-max-width-active) !important;
  background-color: var(--background-primary);
}
.anp-alternate-tab-toggle .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header.is-active .workspace-tab-header-inner-title {
  color: var(--color-accent);
}
.anp-alternate-tab-toggle .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header.is-active {
  .workspace-tab-header-inner, .workspace-tab-header-inner-title  {
    color: var(--color-accent);
  }
  .workspace-tab-header-inner:hover {
    background-color: rgba(var(--ctp-surface1), 0.4);
  }
}
.anp-alternate-tab-toggle .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header.is-active:hover {
  background-color: var(--background-modifier-border);
}
.anp-alternate-tab-toggle .sidebar-toggle-button.mod-left,
.anp-alternate-tab-toggle .sidebar-toggle-button.mod-right {
  align-items: center;
}
.anp-alternate-tab-toggle .sidebar-toggle-button.mod-left .clickable-icon,
.anp-alternate-tab-toggle .sidebar-toggle-button.mod-right .clickable-icon {
  height: var(--tab-height);
}
